.layout-wrap {
  background: linear-gradient(to right, #66bb6a, #0066cc);
  padding: 0 24px 24px;
  height: 90vh;
}
.sider-wrap {
  background: linear-gradient(to bottom, #66bb6a, #66bb6a) !important;
}
